<div class="container">
  <ul class="list-group text-center">
    <% @followers.each do |f| %>
      <li class="list-group-item">
        <a href="">
          <%= f.user_username(f.user_id) %>
        </a>
      </li>
    <% end %>
  </ul>
</div>