<table>
  <thead>
  <th>issue</th>
  <th>expense</th>
  <th>created_at</th>
  </thead>
  <tbody>
  <% @plan_issues.each do |item| %>
    <tr>
      <td><%= item.issue %></td>
      <td><%= item.expense %></td>
      <td><%= item.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>